<div style="max-width: 80%; margin-right:10%; margin-left:10%;">
    <div class="workside">
        <nav id="header" class=" navbar-fixed navbar navbar-expand-lg">

            <button class="navbar-toggler bg-light" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fas fa-grip-lines"></i></span>
            </button>
            <img class="logo-image mr-2" src="../../assets/images/aros_byggsmide.gif" hrf="/" alt="">


            <div class="navvbar collapse navbar-collapse mt-5 pt-4" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto ml-auto">
                    <li class="nav-item active nav-item1">
                        <a class="hover-color nav-link" routerLink="/hom" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">Hem<span class="sr-only">(current)</span></a>

                    </li>
                    <li class="nav-item nav-item2">
                        <a class="hover-color nav-link" routerLink="/" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">Om företaget</a>
                    </li>
                    <li class="nav-item nav-item3">
                        <a class="hover-color nav-link" routerLink="/" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">Tillverkning</a>
                    </li>
                    <li class="nav-item nav-item3">
                        <a class="hover-color nav-link" routerLink="/" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">Referenser</a>
                    </li>
                    <li class="nav-item nav-item1">
                        <a class="hover-color nav-link" routerLink="/" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">Partner</a>
                    </li>
                </ul>
                <ul class="navbar-nav  my-lg-0 mr-5 pt-1">
                    <li class="nav-item nav-item4">
                        <a class="hover-color nav-link" routerLink="/" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">Arbeta hos oss</a>
                    </li>

                    <li class="nav-item mr-sm-2 nav-item1">
                        <a class="hover-color nav-link" routerLink="/" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">kontakt</a>
                    </li>
                </ul>
            </div>
        </nav>


        <!-- 
home side -->
        <div style="margin-top: 100px;"></div>



        <div class="">
            <div class="card bg-dark text-white">
                <img src="./assets/images/bg_banner.jpg" class="card-img" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title mt-3">En stark stomme inom byggindustrin</h5>
                    <p class="card-text">Vi tillverkar det mesta inom byggnadssmide till byggbranschen.
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="card my-3" style="">
        <div class="row no-gutters">
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">
                        Vi konstruerar efter dina önskemål!
                    </h5>
                    <p class="card-text">Aros Byggnadssmide är företaget med många egna kluriga idéer för att hitta
                        fungerande läsningar på konstruktionsproblem till olika byggnationer.

                        Vi tillverkar och monterar allt från enkla stommar i stål till komplexa former i aluminium. Alla
                        våra kunder får sin egen skräddarsmidda lösning. Problem är till för att lösas, så ring oss när
                        ni har frågor kring stålkonstruktioner.</p>
                    <p class="card-text"><strong class="text-muted">Välkommen!</strong></p>
                </div>
            </div>
            <div class="col-md-4">
                <ul class="list-group">
                    <li class="list-group-item">Referenser</li>
                    <li class="list-group-item">Hälla fackhandel - stålstommar</li>
                    <li class="list-group-item">Västerås Centrallasarett - påbyggnad av ytterligare en våning</li>
                    <li class="list-group-item">IKEA - ombyggnad av entrén</li>
                    <li class="list-group-item">Fler referenser »</li>
                </ul>
            </div>

        </div>
    </div>

    <div class="mt-5"></div>

    <footer>
        <div class="row">
            <div class="col-sm-4">
                <ul class="list-group">
                    <li class="list-group-item">Aros Byggsmide AB</li>
                    <li class="list-group-item">Transformatorgatan 10</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">721 37 Västerås</li>
                </ul>
            </div>
            <div class="col-sm-4">
                <ul class="list-group">
                    <li class="list-group-item">Tfn 021 13 22 11</li>
                    <li class="list-group-item">Fax 021 12 43 35</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">e-post: info@arosbyggsmide.se</li>
                </ul>
            </div>
            <div class="col-sm-4">
                <ul class="list-group">
                    <li class="list-group-item">Sitemap</li>
                </ul>
            </div>
        </div>
    </footer>


</div>