

    <div class="navigation">

            

     <nav id="header" class=" navbar  navbar-expand-lg px-5 ">

            <button class="navbar-toggler bg-light" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fas fa-grip-lines"></i></span>
            </button>
            <img class="logo-image mr-2" src="../../assets/images/aros_byggsmide.gif" hrf="/" alt="">


            <div class="navbar-mobile navvbar collapse navbar-collapse mt-5 pt-4" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto ml-auto">
                    <li class="nav-item active nav-item1">
                        <a class="hover-color nav-link" routerLink="/home" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">Hem<span class="sr-only">(current)</span></a>

                    </li>
                    <li class="nav-item nav-item2">
                        <a class="hover-color nav-link" routerLink="/" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">Om företaget</a>
                    </li>
                    <li class="nav-item nav-item3">
                        <a class="hover-color nav-link" routerLink="/" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">Tillverkning</a>
                    </li>
                    <li class="nav-item nav-item3">
                        <a class="hover-color nav-link" routerLink="/" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">Referenser</a>
                    </li>
                    <li class="nav-item nav-item1">
                        <a class="hover-color nav-link" routerLink="/" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">Partner</a>
                    </li>
                </ul>
                <ul class="navbar-nav  my-lg-0 mr-5 pt-1">
                    <li class="nav-item nav-item4">
                        <a class="hover-color nav-link" routerLink="/" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">Arbeta hos oss</a>
                    </li>

                    <li class="nav-item mr-sm-2 nav-item1">
                        <a class="hover-color nav-link" routerLink="/" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">kontakt</a>
                    </li>
                </ul>
            </div>
        </nav>

    </div>

