<br>
<br>
<div class="mainpart">
    <div class="card bg-dark text-white">
        <img src="./assets/images/bg_banner.jpg" class="card-img" alt="...">
        <div class="mainpart1 card-img-overlay">
            <h1 class="card-title ">En stark stomme inom byggindustrin</h1>
            <p class="card-text">Vi tillverkar det mesta inom byggnadssmide till byggbranschen.
            </p>
        </div>
    </div>
</div>

<div class="card my-3" style=" border: none; background-color: inherit; ">
    <div class="row no-gutters">
        <div class="col-md-7 mr-auto">
            <div class="mainpart2 card-body">
                <h1 class=" card-title">
                    Vi konstruerar efter dina önskemål!
                </h1>
                <p class="card-text">Aros Byggnadssmide är företaget med många egna kluriga idéer för att hitta
                    fungerande läsningar på konstruktionsproblem till olika byggnationer.

                    Vi tillverkar och monterar allt från enkla stommar i stål till komplexa former i aluminium. Alla
                    våra kunder får sin egen skräddarsmidda lösning. Problem är till för att lösas, så ring oss när
                    ni har frågor kring stålkonstruktioner.</p>
                <p class="card-text"><strong class="text-muted">Välkommen!</strong></p>
            </div>
        </div>
        <div class="mainpart3 col-md-4">
            <ul class="list-group">
                <li class="list-group-item">Referenser</li>
                <li class="list-group-item">Hälla fackhandel - stålstommar</li>
                <li class="list-group-item">Västerås Centrallasarett - påbyggnad av ytterligare en våning</li>
                <li class="list-group-item">IKEA - ombyggnad av entrén</li>
                <li class="list-group-item">Fler referenser »</li>
            </ul>
        </div>

    </div>
</div>
<hr>
<footer>
    <div class="row">
        <div class="col-sm-4">
            <ul class="list-group">
                <li class="list-group-item">Aros Byggsmide AB</li>
                <li class="list-group-item">Transformatorgatan 10</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">721 37 Västerås</li>
            </ul>
        </div>
        <div class="col-sm-4">
            <ul class="list-group">
                <li class="list-group-item">Tfn <a href="">021 13 22 11</a></li>
                <li class="list-group-item">Fax <a href="">021 12 43 35</a></li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item" >e-post: <a href="">info@arosbyggsmide.se</a></li>
            </ul>
        </div>
        <div class="col-sm-4">
            <ul class="list-group">
                <li class="list-group-item"><a href="">Sitemap</a></li>
            </ul>
        </div>
    </div>
    <div class="page-end"></div>
</footer>



<style>

</style>